<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/page1">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/page2">Page 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/page3">Page 3</a>
        </li>
        <app-header-item-dropdown></app-header-item-dropdown>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
    <app-header-search-bar></app-header-search-bar>
</div>