<div class="col" id="form-contact">
    <div id="name">
        <input type="text" [(ngModel)]="contact.name" placeholder="Inserisci il nome" name="" id="">
    </div>
    <div id="lastname">
        <input type="text" [(ngModel)]="contact.lastname" placeholder="Inserisci il cognome" name="" id="">
    </div>
    <div id="address">
        <input type="text" [(ngModel)]="contact.address" placeholder="Inserisci la via" name="" id="">
    </div>
    <button (click)="showContact()">Inserisci contatto</button>
</div>